#datatable {
	border: 1px solid #ccc;
	border-collapse: collapse;
	border-spacing: 0;
	font-size: 12px;
}
td,th {
	border: 1px solid #ccc;
	padding: 4px 20px;
}
#container{
	background-color:gery;

}
#container p{

}