@charset "UTF-8";

body{
	background:url(/ManSystem/img/3.jpg) no-repeat;
	background-size:100% 100%;
	width:100%;
	height:100%;  
}
.container{
	
	
	background-color: rgba(240, 255, 255, 0.5); 
    border-radius: 10px;
    width: 700px;
    height: auto;
 
}
#backViewTable{
		border-spacing: 0;
}