@charset "utf-8";
/*
div {
	margin: 0;
	border: 0;
	padding: 0;
}*/

.top {
	
}

.title {
	background: #003b90;
	font-size: 30px;
	text-align: center;
	
}

.title p {
	color: #fff;
	margin:0px;
}

.nav {
	width: 100%;
	height: 45px;
	line-height: 45px;
	z-index: 888;
	background: #094eb3;
	
}

.nav ul {
	height: 45px;
	margin: 0px auto;
	max-width: 1100px;
}

.nav ul li {
	float: left;
	height: 45px;
	line-height: 45px;
	padding: 0 24px;
	text-align: center;
	position: relative;
}

.nav ul li a {
	color: #fff;
	font-size: 1.6em;
	display: block;
}