<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ManSystem</display-name>
  
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>NumberQueryScoreServlet</servlet-name>
    <servlet-class>jdbc.NumberQueryScoreServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>NameQueryScoreServlet</servlet-name>
    <servlet-class>jdbc.NameQueryScoreServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateInformationServlet</servlet-name>
    <servlet-class>jdbc.UpdateInformationServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateChangeInformationServlet</servlet-name>
    <servlet-class>jdbc.UpdateChangeInformationServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>BarChartServlet</servlet-name>
    <servlet-class>jdbc.BarChartServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FormServlet</servlet-name>
    <servlet-class>jdbc.FormServlet</servlet-class>
  </servlet>






  <servlet-mapping>
    <servlet-name>NumberQueryScoreServlet</servlet-name>
    <url-pattern>/NumberQueryScoreServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NameQueryScoreServlet</servlet-name>
    <url-pattern>/NameQueryScoreServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateInformationServlet</servlet-name>
    <url-pattern>/UpdateInformationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateChangeInformationServlet</servlet-name>
    <url-pattern>/UpdateChangeInformationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BarChartServlet</servlet-name>
    <url-pattern>/BarChartServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FormServlet</servlet-name>
    <url-pattern>/FormServlet</url-pattern>
  </servlet-mapping>
  
  
  
  
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>